---
import Container from "@/components/Container.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';

export const prerender = false;

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '@/../public/locales/en/translation.json';
import itTranslations from '@/../public/locales/it/translation.json';

const translations = currentLocale === 'en' ? enTranslations : itTranslations;

// Assuming you have a 404 section in your translation files
const t = translations.notFound || {
  title: "404: Page Not Found",
  message: "We're sorry, but the page you're looking for doesn't exist or has been moved.",
  homeLink: "Go back to homepage"
};

---

<Container>
  <div class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <h1 class="text-4xl font-bold mb-4">{t.title}</h1>
    <p class="text-xl mb-8">{t.message}</p>
    <a href={getRelativeLocaleUrl(currentLocale, '')} class="inline-block text-center w-full md:w-auto px-9 py-3 bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% text-white font-bold text-base sm:text-lg rounded-xl hover:bg-orange-700 transition duration-300">
      {t.homeLink}
    </a>
  </div>
</Container>