---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---

<Container>
  <div class="bg-white p-4 sm:p-6 lg:p-8">
    <Topic
      title="Storie Di Successo"
      description="Cosa consideriamo Un Successo quando parliamo di Amazon a Storm X Digital? Alcuni esempi qui sotto dove abbiamo aumentato del 218% il fatturato di Safe Industrial. Oppure come abbiamo trasformato il mercato dei Kit Di Primo Soccorso su Amazon raggiungendo olte 14 Mila unità al mese per un solo prodotto in Amazon UK"
    />
    
    <div class="mt-6 sm:mt-8 grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8">
      <div class="bg-gray-100 p-4 sm:p-6 rounded-lg">
        <h3 class="text-2xl sm:text-3xl font-bold mb-3 sm:mb-4">RELIANCE MEDICAL LTD <br/> Amazon Vendor Account</h3>
        <p class="mb-3 sm:mb-4 text-base sm:text-lg">Reliance Medical è un nostro cliente ormai dal 2022. La loro necessità era quella di trovare una Agenzia Amazon potesse aiutarli nella espansione in EU dei propri prodotti attraverso una attività che include: <b>Ottimizzazione Schede Prodotto</b>, Realizzazione e traduzione in FR, IT, DE, ES, EN di Content A+ Premium e <b>realizzazione strategia pubblicitaria</b> che include SP, SB e SD ADV.</p>
        <a href="#" class="text-[#F95C04] font-bold">Read More →</a>
        
        <div class="mt-4 sm:mt-6 flex justify-between items-end">
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">78%</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Crescita Fatturato<br/>Amazon</p>
          </div>
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">63%</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Incremento Margine<br/>Netto</p>
          </div>
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">16%</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Incremento Tasso di<br/>Conversione</p>
          </div>
        </div>
      </div>
      
      <div class="bg-gray-100 p-4 sm:p-6 rounded-lg">
        <img src="/amazonseller.png" alt="Testimonial" class="w-full rounded-lg mb-4">
      </div>
    </div>
    
    <div class="mt-6 sm:mt-8 grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8">
      <div class="bg-gray-100 p-4 sm:p-6 rounded-lg">
        <div class="bg-yellow-300 item-center rounded-lg">
            <div class="relative pb-[56.25%] h-0 overflow-hidden rounded-lg shadow-lg">
                <iframe class="absolute top-0 left-0 w-full h-full"
                        src="https://www.youtube.com/embed/aTzsHLqwN8s?si=ijdpqTprp7tYtGuB"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
      </div>
      
      <div class="bg-gray-100 p-4 sm:p-6 rounded-lg">
        <h3 class="text-2xl sm:text-3xl font-bold mb-3 sm:mb-4">SAFE INDUSTRIAL LTD - Kirsty<br/>Amazon Seller Account</h3>
        <p class="mb-3 sm:mb-4 text-base sm:text-lg">Ho lavorato con Storm X per oltre due anni, e sono stati un vero punto di svolta per il nostro business su Amazon, incrementando il nostro fatturato del 218%.<br/><b> La loro competenza e l'approccio personalizzato hanno fatto una differenza enorme.</b> <br/>Lavorare con Storm X è come avere dei colleghi piuttosto che un'agenzia esterna e ora sono una parte essenziale del nostro team. </p>
        <a href="#" class="text-[#F95C04] font-bold">Read More →</a>
        
        <div class="mt-4 sm:mt-6 flex justify-between items-end">
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">218%</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Crescita Fatturato<br/>Amazon</p>
          </div>
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">7.3 ROI</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Ritorno Investimento<br/>Campagne ADV</p>
          </div>
          <div class="text-center">
            <p class="text-3xl sm:text-4xl lg:text-6xl font-bold text-[#F95C04]">2+</p>
            <p class="text-xs sm:text-sm lg:text-base font-normal mt-1">Anni Collaborazione Lungo<br/>Termine</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>