---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
import IframeCarousel from "./IframeCarousel.jsx"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row mb-8 sm:mb-12">
    <Topic 
      title="Amazon Podcast" 
      description="Che tu sia un Fondatore, un Imprenditore, un Direttore E-Commerce, un Manager di Marketplace o un Manager E-Commerce, puoi ascoltare tutto ciò di cui hai bisogno per gestire con successo Amazon Vendor & Seller dalla nostra Sezione Blog 'How To' e dal nostro Podcast settimanale." 
    />
  </div>

  <IframeCarousel client:load />
</Container>