---
const { title, description } = Astro.props;


const formattedDescription = description
  .replace(/Continuamente/g, '<strong>Continuamente</strong>')
  .replace(/Migliaia di ore di esperienza su Amazon Seller Central e Vendor Central/g, '<strong class="font-bold">Migliaia di ore di esperienza su Amazon Seller Central e Vendor Central</strong>')
  .replace(/Fondatore, un Imprenditore, un Direttore E-Commerce, un Manager di Marketplace o un Manager E-Commerce,/g, '<strong class="font-bold">Fondatore, un Imprenditore, un Direttore E-Commerce, un Manager di Marketplace o un Manager E-Commerce,</strong>')
  .replace(/gestire con successo Amazon Vendor & Seller/g, '<strong class="font-bold">gestire con successo Amazon Vendor & Seller</strong>')
  .replace(/guide utili e pratiche/g, '<strong class="font-bold">guide utili e pratiche</strong>')
  .replace(/la tua quota di mercato. Gestiamo ogni aspetto della tua presenza su Amazon,/g, '<strong class="font-bold">la tua quota di mercato. Gestiamo ogni aspetto della tua presenza su Amazon, </strong>')
  .replace(/Mettiti/g, '<strong class="font-bold">Mettiti</strong>')
  .replace(/Aumentiamo/g, '<strong class="font-bold">Aumentiamo</strong>')
  .replace(/- Kirsty Rogers | Sales Manager at Safe Industrial/g, '<strong class="font-bold">- Kirsty Rogers | Sales Manager at Safe Industrial</strong>')
  .replace(/La loro competenza e l'approccio personalizzato hanno fatto una differenza enorme./g, '<strong class="font-bold">La loro competenza e l\'approccio personalizzato hanno fatto una differenza enorme.</strong>')
  .replace(/Alcuni feedback di nostri clienti che abbiamo aiutato a crescere su Amazon Seller Central e Vendor Central. /g, '<strong class="font-bold">Alcuni feedback di nostri clienti che abbiamo aiutato a crescere su Amazon Seller Central e Vendor Central. </strong>')
  .replace(/ risoluzione di tutti i tuoi grattacapo/g, '<strong class="font-bold"> risoluzione di tutti i tuoi grattacapo</strong>')
  .replace(/gestire con successo Amazon Vendor & Seller/g, '<strong class="font-bold">gestire con successo Amazon Vendor & Seller</strong>')
  .replace(/Fondatore, un Imprenditore, un Direttore E-Commerce, un Manager di Marketplace o un Manager E-Commerce,/g, '<strong class="font-bold">Fondatore, un Imprenditore, un Direttore E-Commerce, un Manager di Marketplace o un Manager E-Commerce,</strong>')
  .replace(/PPC\/SEO ratio, SEO indexing, SEO rankings,/g, '<strong class="font-bold">PPC/SEO ratio, SEO indexing, SEO rankings,</strong>')
  .replace(/Founder, Entrepreneur, E-Commerce Director, Marketplace Manager, or E-Commerce Manager,/g, '<strong class="font-bold">Founder, Entrepreneur, E-Commerce Director, Marketplace Manager, or E-Commerce Manager,</strong>')
  .replace(/practical guides/g, '<strong class="font-bold">practical guides</strong>')
  .replace(/Not your typical boring blog. /g, '<strong class="font-bold">Not your typical boring blog. </strong>')
  .replace(/ increase your market share/g, '<strong class="font-bold"> increase your market share</strong>')
  .replace(/ la tua quota di mercato. Gestiamo ogni aspetto della tua presenza su Amazon,/g, '<strong class="font-bold"> la tua quota di mercato. Gestiamo ogni aspetto della tua presenza su Amazon,</strong>')
  .replace(/Amazon agency,/g, '<strong class="font-bold">Amazon agency,</strong>')
  .replace(/thousands of hours of experience,/g, '<strong class="font-bold">thousands of hours of experience</strong>')
  .replace(/support your small, medium and large sized business/g, '<strong class="font-bold">support your small, medium and large sized business</strong>')
---

<div class="flex flex-col lg:flex-row items-start lg:items-start gap-4 mb-10">
  <div class="bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% rounded-lg p-3">
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-4xl font-bold text-white whitespace-nowrap">
      {title}
    </h2>
  </div>
  <p class="text-lg md:text-xl font-normal text-gray-700 md:max-w-2xl" set:html={formattedDescription} />
</div>