---
import Container from "../Container.astro";
import ArticleIcon from "../Icons/ArticleIcon.astro";
import VideoIcon from "../Icons/VideoIcon.astro";
import Topic from "../Topic.astro";
import articlesData from '../../components//Data/articles.json';
import PostCarousel from "../PostCard";
import { fetchPosts } from "@/lib/fetchPosts";

const posts = await fetchPosts();

---

<Container>

    <div class="relative flex flex-col items-center md:flex-row">
      <Topic title="Tutorials & Best Practices" description="Non il classico noioso Blog. In questa sezione troverai guide utili e pratiche per la risoluzione di tutti i tuoi grattacapo di Amazon Seller & Vendor" />
    </div>
  
    <PostCarousel client:load posts={posts} />
  </Container>










  