---
import Container from "../Container.astro"
import Topic from "../Topic.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row mb-12">
    <Topic title="A chi è rivolto" description="Che tu sia Produttore, Azienda o Distributore, devi sapere che il desiderio di crescita su un marketplace cruciale come Amazon, da solo non basta." />
  </div>

  <div class="py-2 max-w-screen-xl lg:py-0">
    <div class="flex flex-col md:flex-row gap-8 mb-12">
      <div class="md:w-1/2 flex flex-col justify-center">
        <p class="text-lg mb-6">
          <strong>Immagina di poter aumentare la visibilità e le vendite della tua attività su Amazon,</strong> di affrontare e risolvere problemi di cui non sapevi neanche l'esistenza, senza trovarti impreparato, ma seguito da professionisti qualificati che ti fanno da tutor.
        </p>
        <p class="text-lg">
          Noi di StormX Digital, a seguito delle esperienze dirette con i nostri partner, <strong>abbiamo individuato alcune delle difficoltà più rilevanti tipiche dell'e-commerce, sulle quali abbiamo voluto concentrare maggiormente il nostro contributo:</strong>
        </p>
      </div>
      
      <div class="md:w-1/2 bg-yellow-300 p-4 rounded-lg">
        <img src="/mentorship/multidevice.png" alt="Amazon product listing example" class="w-full h-auto rounded-lg shadow-lg"/>
      </div>
    </div>

    <div class="flex gap-8">
      <ul class="space-y-4 text-lg w-1/2">
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Carenza di competenze interne
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Esigenza di training e workshop
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Mancanza di una strategia chiara
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Esigenza di supporto personalizzato
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Difficoltà nella gestione operativa
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Complessità delle politiche e regole di conformità Amazon
        </li>
      </ul>
      
      <ul class="space-y-4 text-lg w-1/2">
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Necessità di analisi e reportistica dettagliata
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Problemi di visibilità e posizionamento
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Gestione delle recensioni e della reputazione
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Necessità di intervento rapido
        </li>
        <li class="flex items-center">
          <span class="w-2 h-2 bg-black rounded-full mr-3 flex-shrink-0"></span>
          Frustrazione di Listing soppresse e/o disattivate da Amazon per qualsiasi motivo
        </li>
      </ul>
    </div>

    <div class="mt-12">
      <p class="text-2xl font-bold mb-2">
        In realtà, a queste incertezze, ne dobbiamo aggiungere una che le batte tutte:
      </p>
      <p class="text-2xl font-bold uppercase">
        L'ESPERIENZA NEGATIVA VISSUTA CON LE ALTRE AGENZIE.
      </p>
    </div>
  </div>
</Container>